<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <title>minho's git</title>
      <script src="./js/ex/jquery-1.12.3.min.js"></script>
      <script src="./js/ex/angular-1.2.29/angular.min.js"></script>
      <script src="./js/menu.json"></script>
      <script src="./js/main.js"></script>
      <link href="./css/main.css" rel="stylesheet"/>
   </head>
   <body ng-app="menuApp" ng-controller="setMenu" >
       
      <h1>안녕하세요, 개발자 김민호 입니다.</h1>
      <hr/>

      <!-- BEGIN >>  ng-app : menuApp -->
      <div id="gHead"  >
         <span class="menu_icon" ng-repeat="menu in menus" ng-click="setSubMenu(menu,$event)">{{menu}}</span>
         <div class="gap"></div>
         <span class="menu_icon subMenu" ng-repeat="sub in subMenus" ng-click="getMain(sub,$event);">{{sub}}</span>
      </div>
      <!-- END >>  ng-app : menuApp  -->

      <hr/>

      <div id="gMain" ng-include src="mainHtml">
         <!-- include HTML file -->
      </div>

   </body>
</html>
